body {
  background-image: linear-gradient(to right, #3c3c3c, #b4b4b4);
  font-family: segoe ui;
  font-size: 10vW;
}

h1 {
  text-decoration-line: underline;
  color: white;
  text-align: center;
  font-size: 60px;
}

li {
    display: inline;
    color: white;
    font-size: 40px;
    margin-left: 250px;
    justify-content: flex-start;
}

.allTogether {
  column-count: 3;
  column-gap: 1px;
  display: flex;
}

.news {
  font-size: 14px;
	background-color: #FFFFFF;
  width: 560px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
}

.fraud {
  font-size: 14px;
	background-color: #FFFFFF;
  width: 560px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
}

.gamingproblems {
  font-size: 14px;
	background-color: #FFFFFF;
  width: 560px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
}

img {
	max-width: 80%;
  image-orientation: center;
  margin: auto;
}

#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 14px; /* Increase font size */
}

#toTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

a:visited {
    font-family: times;
    color: white;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 2px;
}

.links {
  color: white;
  font-size: 16px;
}
